<li class="{{ $ctrl.styles.todoItem }}" ng-class="{ '{{ $ctrl.styles.completed }}': $ctrl.todo.completed, '{{ $ctrl.styles.editing }}': $ctrl.editing }">

  <div class="{{ $ctrl.styles.view }}">
    <input class="{{ $ctrl.styles.toggle }}" type="checkbox" ng-click="$ctrl.toggleCompletion()" ng-checked="$ctrl.todo.completed">
    <label ng-dblclick="$ctrl.edit()">{{ $ctrl.todo.title | trim }}</label>
    <button class="{{ $ctrl.styles.destroy }}" ng-click="$ctrl.remove()"></button>
  </div>

  <input class="edit" ng-show="$ctrl.editing" ng-model="$ctrl.editedTitle" ng-blur="$ctrl.stopEditing()" ng-keyup="$ctrl.handleKeyUp($event)">
</li>
