<footer class="{{ styles.footer }}" ng-if="totalCount > 0">
    <span class="{{ styles.todoCount }}"><strong>{{ remainingCount }}</strong> {{ remainingCount == 1 ? 'item' : 'items' }} left</span>
    <ul class="{{ styles.filters }}">
        <li>
            <a ng-click="onChangeFilter('')" ng-class="{ '{{ styles.selected }}': filter == '' }">All</a>
        </li>
        <li>
            <a ng-click="onChangeFilter('active')" ng-class="{ '{{ styles.selected }}': filter == 'active' }">Active</a>
        </li>
        <li>
            <a ng-click="onChangeFilter('completed')" ng-class="{ '{{ styles.selected }}': filter == 'completed' }">Completed</a>
        </li>
    </ul>
    <button class="{{ styles.clearCompleted }}" ng-if="totalCount > remainingCount" ng-click="onRemoveCompleted()">Clear completed</button>
</footer>
