<footer class="{{ $ctrl.styles.footer }}" ng-if="$ctrl.totalCount > 0">
    <span class="{{ $ctrl.styles.todoCount }}"><strong>{{ $ctrl.remainingCount }}</strong> {{ $ctrl.remainingCount == 1 ? 'item' : 'items' }} left</span>
    <ul class="{{ $ctrl.styles.filters }}">
        <li>
            <a ng-click="$ctrl.onChangeFilter('')" ng-class="{ '{{ $ctrl.styles.selected }}': $ctrl.filter == '' }">All</a>
        </li>
        <li>
            <a ng-click="$ctrl.onChangeFilter('active')" ng-class="{ '{{ $ctrl.styles.selected }}': $ctrl.filter == 'active' }">Active</a>
        </li>
        <li>
            <a ng-click="$ctrl.onChangeFilter('completed')" ng-class="{ '{{ $ctrl.styles.selected }}': $ctrl.filter == 'completed' }">Completed</a>
        </li>
    </ul>
    <button class="{{ $ctrl.styles.clearCompleted }}" ng-if="$ctrl.totalCount > $ctrl.remainingCount" ng-click="$ctrl.onRemoveCompleted()">Clear completed</button>
</footer>
