<footer class="footer" ng-if="totalCount > 0">
    <span class="todo-count"><strong>{{ remainingCount }}</strong> {{ remainingCount == 1 ? 'item' : 'items' }} left</span>
    <ul class="filters">
        <li>
            <a ng-click="onChangeFilter('')" ng-class="{ selected: filter == '' }">All</a>
        </li>
        <li>
            <a ng-click="onChangeFilter('active')" ng-class="{ selected: filter == 'active' }">Active</a>
        </li>
        <li>
            <a ng-click="onChangeFilter('completed')" ng-class="{ selected: filter == 'completed' }">Completed</a>
        </li>
    </ul>
    <button class="clear-completed" ng-if="totalCount > remainingCount" ng-click="onRemoveCompleted()">Clear completed</button>
</footer>
