<section class="{{ styles.todoapp }}">
  <todo-header on-add-todo="store.add"></todo-header>

  <section class="{{ styles.main }}" ng-if="getTodos().length">
    <input class="{{ styles.toggleAll }}" type="checkbox" ng-checked="store.areAllCompleted()" ng-click="store.toggleAllCompleted()">
    <ul class="{{ styles.todoList }}" ng-repeat="todo in getTodos()">
      <todo-item 
        todo="todo"
        on-item-completed="store.toggleCompletion"
        on-item-removed="store.remove"
        on-item-title-changed="store.changeTitle"></todo-item>
    </ul>
  </section>

  <todo-footer
    filter="filter"
    on-change-filter="changeFilter"
    on-remove-completed="store.removeCompleted"
    remaining-count="store.getRemaining().length"
    total-count="store.todos.length"></todo-footer>
</section>

