<section class="{{ $ctrl.styles.todoapp }}">
  <todo-header on-add-todo="$ctrl.store.add"></todo-header>

  <section class="{{ $ctrl.styles.main }}" ng-if="$ctrl.getTodos().length">
    <input class="{{ $ctrl.styles.toggleAll }}" type="checkbox" ng-checked="$ctrl.store.areAllCompleted()" ng-click="$ctrl.store.toggleAllCompleted()">
    <ul class="{{ $ctrl.styles.todoList }}">
      <todo-item 
        ng-repeat="todo in $ctrl.getTodos()"
        todo="todo"
        on-item-completed="$ctrl.store.toggleCompletion"
        on-item-removed="$ctrl.store.remove"
        on-item-title-changed="$ctrl.store.changeTitle"></todo-item>
    </ul>
  </section>

  <todo-footer
    filter="$ctrl.filter"
    on-change-filter="$ctrl.changeFilter"
    on-remove-completed="$ctrl.store.removeCompleted"
    remaining-count="$ctrl.store.getRemaining().length"
    total-count="$ctrl.store.todos.length"></todo-footer>
</section>

